{% extends 'base.html.twig' %}

{% block title %}Hello MasterclassQuizzController!{% endblock %}

{% block body %}
<style>
    
.container {
	max-width: 1000px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
}

.table {
	width:100%;
	border:1px solid #EEEEEE;
}

.table-header {
	display:flex;
	width:100%;
	background:#000;
	
}

.table-row {
	display:flex;
	width:100%;
	padding:10px;
	
	&:nth-of-type(odd) {
		background:#EEEEEE;
	}
}

.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

.header__item {
	text-transform:uppercase;
}

.filter__link {
	color:white;
	text-decoration: none;
	position:relative;
	display:inline-block;
	padding-left:10px;
	padding-right:10px;
	
	&::after {
		content:'';
		position:absolute;
		
		color:white;
		top: 50%;
		transform: translateY(-50%);
	}
	
	&.desc::after {
		content: '(desc)';
	}

	&.asc::after {
		content: '(asc)';
	}
	
}
</style>
<div class="container">
	
	<div class="table">
		<div class="table-header">
			<div class="header__item"><a id="name" class="filter__link" href="#">ID</a></div>
			<div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Titre</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">Compteur</a></div>
    		<div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">Lien</a></div>

        </div>
		<div class="table-content">	
         {% for quiz in quizzes %}

			<div class="table-row">		
				<div class="table-data">{{quiz.id}}</div>
				<div class="table-data">{{quiz.name}}</div>
				<div class="table-data">{{quiz.counter}}</div>
                  <div class="table-data">
                        <a href="{{ path('masterclass_quizz_show', {'id': quiz.id}) }}">Détails</a>
                    </div>
			</div>
            {% endfor %}
		</div>	
	</div>
</div>
{% endblock %}
