
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
      --primary-first: #7451EB;
      --primary-second: #F4CF74;
      --dark-primary-first: #231947;
      --mid-primary-first: #372770;
      --light-primary-first: #D1C4FD;
      --lighter-primary-first: #EFEBFC;
      --dark-primary-seond:#644D15;
      --mid-primary-seond:#9A7825;
      --light-primary-seond:#F7DEA2;
      --lighter-primary-seond:#FFFAEE;
      --dark-neutral:#285828;
      --mid-neutral:#ADADAD;
      --light-neutral:#FDFDFD;
      --lighter-neutral:#FFFFFF;
}


body {
  font-family: "DM Sans";
  background: linear-gradient(0deg, var(--primary-color) 0.03%, var(--secondary-color));
  color: var(--foreground);
  display: flex;
  font-size: 18px;
  justify-content: center;
  margin: 0 auto;
  padding: 0 30px;
  height: 100vh;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}

h1{
  font-size: 56px;
}

h2{
  font-size: 36px;
}

h3{
  font-size: 24px;
}

h4{
  font-size: 22px;
}

h5{
  font-size: 18px;
}

h6{
  font-size: 16px;
}

p{
  font-size: 18px;
}

/* QUIZZ */
.quizz-container{
    width: 500px;
    background: var(--background-color-primary);
    border-radius: 4px;
    margin-top: 100px;
    padding: 30px 60px;
    box-sizing: border-box;
}

.quizz-container h2{
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.quizz-container ul{
  margin-top: 20px;
  margin-left: -40px;
}

.quizz-container ul li{
  text-decoration: none;
  list-style: none;
  color: var(--foreground);
  font-size: 16px;
  background: var(--background-color-primary);
  border: 1px solid var(--disabled);
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}

.quizz-container .selected-answer{
  background:var(--primary-color);
  border: 1px solid var(--secondary-color);
  color: var(--background-color-primary);
}


.active-question-no{
  font-size: 32px;
  font-weight: 500;
  color: var(--primary-color);
}

.total-question{
  font-size: 6px;
  font-weight: 500;
  color: var(--disabled);
}

.quizz-container .footer{
  display: flex;
  justify-content: flex-end;
}


.quizz-container button{
  background: linear-gradient(0deg, var(--primary-color) 0.03%, var(--secondary-color));
  border-radius: 9px;
  font-size: 18px;
  color: var(--background-color-primary);
  padding: 10px 42px;
  outline: none;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}


.quizz-container button:disabled{
  background: var(--background-color-secondary);
  color: var(--disabled);
  cursor: not-allowed;
}


.quizz-container .result {
text-align: center;
}

.quizz-container .result h3{
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
}


.quizz-container .result p{
  font-size: 16px;
  letter-spacing: 1.4px;
  text-align: center;
}
