@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
      --primary-first: #7451EB;
      --primary-second: #F4CF74;
      --dark-primary-first: #231947;
      --mid-primary-first: #372770;
      --light-primary-first: #D1C4FD;
      --lighter-primary-first: #EFEBFC;
      --dark-primary-seond:#644D15;
      --mid-primary-seond:#9A7825;
      --light-primary-seond:#F7DEA2;
      --lighter-primary-seond:#FFFAEE;
      --dark-neutral:#285828;
      --mid-neutral:#ADADAD;
      --light-neutral:#FDFDFD;
      --lighter-neutral:#FFFFFF;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  font-family: "DM Sans";
  background: linear-gradient(0deg, var(--primary-color) 0.03%, var(--secondary-color));
  color: var(--foreground);
  padding: 0;
  margin: 0;
  font-size: 18px;
  margin: 0 auto;
}

html, body {
  margin: 0;
  padding: 0;
}

/* Ensure all parent elements have 100% height to fill the entire viewport */
#root, /* Or any other container element */
.App {
  height: 100%;
}

.main-content{
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

footer{
  background-color: var(--dark-primary-first);
  color: var(--light-neutral);
}



h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}

h1{
  font-size: 56px;
}

h2{
  font-size: 36px;
}

h3{
  font-size: 24px;
}

h4{
  font-size: 22px;
}

h5{
  font-size: 18px;
}

h6{
  font-size: 16px;
}

p{
  font-size: 18px;
}

.header{
  margin-bottom: 25px;
  margin-top: 5px;
}

.subtitle::after{
  content: '';
}

.title-secondary{
  font-weight: bold;
  color: var(--primary-first);
  font-size: 34px;
}

.title-tertiary{
  font-size: 34px;
  font-weight: bold;
  color: var(--light-neutral);
}

.subtitle-secondary{
  color:var(--light-neutral)
}



.container{
  max-width: 900px;
  margin: 0 auto;
}

.bg-secondary{
  background: rgba(35,24,71,1);
}


