@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
      --primary-first: #7451EB;
      --primary-second: #F4CF74;
      --dark-primary-first: #231947;
      --mid-primary-first: #372770;
      --light-primary-first: #D1C4FD;
      --lighter-primary-first: #EFEBFC;
      --dark-primary-second:#644D15;
      --mid-primary-second:#9A7825;
      --light-primary-second:#F7DEA2;
      --lighter-primary-second:#FFFAEE;
      --dark-neutral:#282828;
      --mid-neutral:#ADADAD;
      --light-neutral:#FDFDFD;
      --lighter-neutral:#FFFFFF;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  font-family: "DM Sans";
  background: linear-gradient(0deg, var(--primary-color) 0.03%, var(--secondary-color));
  color: var(--foreground);
  padding: 0;
  margin: 0;
  font-size: 18px;
  margin: 0 auto;
}

html, body {
  margin: 0;
  padding: 0;
}

/* Ensure all parent elements have 100% height to fill the entire viewport */
#root, /* Or any other container element */
.App {
  height: 100%;
}

.main-content{
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

footer{
  background-color: var(--dark-primary-first);
  color: var(--light-neutral);
}



h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}

h1{
  font-size: 56px;
}

h2{
  font-size: 36px;
}

h3{
  font-size: 24px;
}

h4{
  font-size: 22px;
}

h5{
  font-size: 18px;
}

h6{
  font-size: 16px;
}

p{
  font-size: 18px;
}

.header{
  margin-bottom: 25px;
  margin-top: 5px;
}

.subtitle::after{
  content: '';
}

.title-secondary{
  font-weight: bold;
  color: var(--dark-primary-second);
  font-size: 34px;
  text-align: center;
}

.title-tertiary{
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  color: var(--light-neutral);
}

.subtitle-secondary{
  color:var(--light-neutral)
}



.container{
  max-width: 900px;
  margin: 0 auto;
}

.bg-secondary{
  background: rgba(35,24,71,1);
  color: white;
}




.input-search,.input-search .MuiInputBase-root{
  background-color: #fffaee;
  border-radius: 15px;
}

.input-form-login{
  background-color: #fffaee;
  padding: 8px;
}

.title-page{
  font-size: 34px;
  font-weight: bold;
}

.card-page{
  background-color: #fffaee;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 10px;
  border: 1px solid var(--light-primary-second, #F4CF74);
  text-align: center;
}

.card-page-title{
  font-size: 22px;
  font-weight: bold;
  color: var(--mid-primary-second,#9A7825);
}

.card-page-link{
  color: var(--mid-primary-second,#9A7825);

}

.quizz-display{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.boutton-quizz{
  padding: 10px;
  background-color: #372770;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: white;
}

.form-user-update{
  padding: 40px;
  background-color: #fafafd;
  border-radius: 16px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  max-width: none;
}

.subtitle-login{
  color:var(--primary-first,#7451EB);
  font-weight: 700;
}


.img-right-login{
  flex:0 0 30%;
}

.login-page{
  justify-content: space-between;
  height: 100vh;
}

.back-breadcumb{
  color: var(--dark-primary-first,#231947);
}

.title-form{
  color: var(--dark-primary-first);
  font-size: 44px;
  font-weight: 900;
}

@media ( min-width : 992px ) {
.img-superpose{
  position: absolute;
  z-index: 99;
  left: -300px;
  PADDING-RIGHT: 150px;
}
}
  

.loading-spinner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}